# Ignore compiled Python files
*.pyc

# Ignore the virtual environment
venv/

# Ignore log files
*.log

# Ignore cache files
__pycache__/

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore local configuration files
local_settings.py

# Ignore IDE files
.vscode/
.idea/
*.pydevproject
*.project

# Ignore system files
.DS_Store
Thumbs.db
